@import "../global/base";
@import "../global/rem";
@import "../global/retinaBorder";
//弹窗
.plan_rule{
  width: 530px/2/$rem;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  .plan_rule_head{
    height: 100px/2/$rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $sagreen;
    color: #fff;
    font-size: 18px/$rem;
  }
  .plan_rule_body{
    padding: 15px/$rem 10px/$rem;
  }
  .plan_rule_item{
    display: flex;
    font-size: 13px/$rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 5px/$rem;
  }
  .plan_rule_foot{
    margin: 15px/$rem 10px/$rem;
    display: flex;
    font-size: 13px/$rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 5px/$rem;
  }
}
