@import "../global/base";

.spinOff{
    padding-bottom: 100px/2/$rem;

    .banner {
        width: 100%;
        height: 435px/2/$rem;
        border-bottom: 18px/2/$rem solid #f5f5f5;
        background: #dce4e7;
    }

    .glist {
        background: #fff;

        .listWrap {
            padding: 0 50px/2/$rem;

            .listItem {
                margin-bottom: 85px/2/$rem;
                justify-content: space-between;

                img {
                    display: block;
                    width: 650px/2/$rem;
                    height: 420px/2/$rem;
                    background: #dce4e7;
                    margin-bottom: 40px/2/$rem;
                }
                .itemName {
                    padding-left: 28px/2/$rem;
                    border-left: 4px/2/$rem solid #d6d6d6;
                    margin-bottom: 24px/2/$rem;

                    b {
                        font-size: 25px/2/$rem;
                        font-weight: normal;
                        color: #045a5d;
                    }
                    p {
                        font-size: 32px/2/$rem;
                        color: #2d2d2d;
                        margin-top: 15px/2/$rem;
                    }
                }
                .itemAbstract {
                    padding-left: 30px/2/$rem;
                    color: #706c6c;
                    font-size: 25px/2/$rem;
                    margin-bottom: 40px/2/$rem;
                }
                .itemBuy {
                    justify-content: space-between;

                    .itemPrice {
                        font-size: 33px/2/$rem;
                        color: #045a5d;
                        padding-left: 30px/2/$rem;
                    }
                    .itemAddCart {
                        width: 145px/2/$rem;
                        height: 44px/2/$rem;
                        border-radius: 5px/2/$rem;
                        text-align: center;
                        line-height: 44px/2/$rem;
                        font-size: 21px/2/$rem;
                        color: #fff;
                        background: #045a5d;
                    }
                }
            }
        }
    }
}
